<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
  </head>

  <body>
    <header>
      <div class="">Sentiment Analysis</div>
      <div class=""></div>
    </header>

    <main>
      <section>
        <form
          class=""
          onsubmit="return Client.handleSubmit(e)"
          name="sentence-form"
        >
          <input
            id="text"
            type="text"
            name="sentence-input"
            value=""
            placeholder="Please input a sentence"
          />
          <div id="text-wrong"></div>
          <input
            type="submit"
            name=""
            value="Analysis Sentiment"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)"
          />
        </form>
      </section>

      <section>
        <strong>Sentiment Results:</strong>
        <br />
        <div id="sentiment-results"></div>
      </section>
    </main>

    <footer>
      <div class="">thiendc1@fsoft.com.vn</div>
      <div class="">Project 4 - Udacity course Front End Web Developer</div>
    </footer>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
